.color1{
    color: #077510;    /*dark green*/
}

.color2{
    color: #379e40e7;    /*light green*/
}

.color3{
    color: rgb(202, 202, 202);  /*light grey for bg*/
}

.color4{
    color: rgb(168, 168, 168);  /*yelllow for bandai div*/
}

.color5{
    color: rgb(251, 255, 1);  /*yelllow for bandai div*/
}